fuzzywuzzy==0.18.0
seqeval==1.2.2
spacy==3.0.5
spacy-legacy==3.0.1
spacy-streamlit==1.0.0
streamlit==0.79.0
st-annotated-text==1.1.0
torch==1.6.0
transformers==4.4.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.0.0/en_core_web_md-3.0.0.tar.gz#egg=en_core_web_md==3.0.0